/* Universal settings / fonts */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.color {
    background-color:  #F2EFE9   
}

.font-lato {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.font-ubuntu{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  #marginTop {
    z-index:-1;
    margin-top: -100px;
    height: 100px;
    width: 100vw;
    background-color: white;
}

.borderTop {
    border: 4px solid #BFB48F;
}

/* Makes logo correct size*/
header .navbar  {
    z-index: 1;
}
header .navbar-brand img{
    width: 75px;
    height: 75px;
}

header .caption{
    text-align: center;
    margin-bottom: 20px;
}

header .caption img{
    width: 400px;
    height: 250px;
}

header .caption p {
    margin-top: 10px;
}

/* Game Styling */

.containerTop {
    display: flexbox;
    justify-content: space-around;
    border: 5px solid rgb(30, 30, 30);
    background-color: #904E55;
    text-align: center;
    margin: 50px;
    height: 50px;
    width: 400px;
    border-radius: 20px;
 
}
.container {
    position: inherit;
    text-align: center;
    font-size: large;
    height: 100px;
}

body { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
} 
  
table {
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
    font-size: 18pt;
    font-weight: 550;
}

td{
    width: 150px;
}
  
.button { 
    margin-bottom: 20px; 
    padding: 10px;
    font-size: 16px; 
    cursor: pointer; 
    background-color: #904E55;
    text-align: center;
}
  
.hole { 
    height: 150px; 
    border: 5px solid rgb(30, 30, 30); 
    cursor: pointer; 
    background:#564E58;
    border-radius: 100px; 
} 
  
.mole { 
        background-size: 200px;  
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/16/56/cruiser-151538_1280.png);
    background-color: rgb(12, 93, 155);
} 

#muteButton {
    border-radius: 25px;
    font-weight: 550;
}

#muteButton:hover {
    background-color: #564E58;
    color: white;

}

#startGame:hover {
    background-color: #564E58;
    color: white;
}

.containerGame { 
    background-color: rgb(0, 221, 255);
    border: 5px solid rgb(30, 30, 30);
    display: grid; 
    position: inherit;
    grid-template-columns: repeat(3, 150px); 
    gap: 20px; 
    border: 5px solirgb(0, 0, 0); 
    padding: 20px; 
    border-radius: 100px; 
}     

#minigameError {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: 6.8vw;
    width: 80vw;
    height: 200px;
    border: 4px solid #a0a426;
    background-color: #904E55;
    display: none;
}

/* Homepage Styling */
#homeBackground {
    z-index: -2;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 8px solid #a0a426;
    margin-top: -300px;
    min-height: 350px;
    min-width: 350px;
    }
    
    #homeCall {
        color: rgb(255, 255, 255);
        position: absolute;
        margin-top: -1100px;
        font-size: 5em;
        text-align: center;
        text-shadow: black 10px 2px 10px;
        user-select: none
    }
    
    #homeCall2 {
        color: rgb(255, 255, 255);
        position: absolute;
        font-size: 2.3em;
        text-align: center;
        margin-bottom: 950px;
        text-shadow: black 10px 2px 10px;
        user-select: none 
    }
    
    .transparent {
        background-color: transparent;
    }
    
    .homeMid {
        display: flex;
        justify-content: space-around
    }
    
    .homeBoxCall {
        margin: 5vb;
    }
    #homeTextBox {
        user-select: none;
        margin-top: 5vb;
        width: auto;
        min-height: 10vb;
        color: white;
        text-shadow: black 10px 2px 10px;
        border: 4px solid #a0a426;
        font-size: 20pt;
        padding: 10vb;
        text-align: center;
        width: 80%;
        background-image: url(https://cdn.pixabay.com/photo/2014/05/30/12/17/restaurant-358238_1280.jpg);
        background-size: cover;
        background-position: 0;
    }
    
    #homeTripBox {
        user-select: none;
        margin-top: 5vb;
        width: 100%;
        height: 400px;
        color: white;
        text-shadow: black 10px 2px 10px;
        border: 4px solid #a0a426;
        font-size: 20pt;
        font-size: 2em;
        padding: 10vb;
        text-align: center;
        border-radius: 5px;
        background-image: url(https://cdn.pixabay.com/photo/2015/01/14/18/47/globe-599486_1280.jpg);
        background-size: cover;
        background-position: 0;
        margin-bottom: 50px;
    }
    
    #homeCruiseButton {
        position: relative;
        height: 50px;
        width: 200px;
        border-radius: 25px;
        cursor: pointer;
        background-color: rgb(81, 184, 200);
        color: white;
        font-size: 0.5em;
        font-weight: 600;
    }

    #homeCruiseButton:hover {
        color: black;
        background-color: rgb(81, 184, 200);
    }

    #trip {
        text-shadow: black 0px 5px 5px;
        font-size: 1em;
        font-weight: 500;
        color: white;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

.footer {
    z-index: 1;
}

.fMinigame {
    margin-top: 670px;
}

.fCruises {
    margin-top: 1000px;
    position: relative;
}

/* Responsive Web Design */
@media screen and (max-width:980px) {
    #pagewrap {width: 90%;}
    #content {width: 60%;}
    #sidebar {width: 30%;} 
    .fCruises {
        margin-top: 550px;
    }
    .containerGame {min-width: 540px;}
}
@media screen and (max-width:700px) {
    #content {width: auto; float:none;}
    #sidebar {display:none;}
    body {font-size: 2vb;}
    #homeCall2 {font-size: 0px;}
    #homeCall {font-size: 3em;}
    body {background-color: yellow;}

    .containerGame { 
        padding: 5%; 
        grid-template-columns: repeat(3, 38%); 
        min-width: 40px;
    } 
    .hole { 
        height: 70px; 
        width: 45%; 
        border-radius: 100px;
        gap: 2px;
        margin-left: -6px;
    }
    .mole { 
        background-size: 100px;  
    } 
}

@media screen and (max-width:580px) {
    #content {width: auto; float: none;}
    #sidebar {display:none;}
    #homeCall {font-size: 0px}
    #homeBackground {width: 100%;}
    #content {width: auto; float: none;}
    #sidebar {display:none;}
}
/* Ensure game is played on large enough screen for correct functionality*/
@media screen and (max-width:580px) {
   .game {display: none;}
   .containerTop {display:none}
   #minigameError {display: flex;}
   .fMinigame {margin: 0px;}
}

/* Makes logo correct size*/
.navbar-brand img{
    width: 75px;
    height: 75px;
}

.caption{
    text-align: center;
    margin-bottom: 20px;
}

.caption img{
    width: 400px;
    height: 250px;
}

.caption p {
    margin-top: 10px;
}

.error {
    background-color: red;
}